---
/**
 * root page
 * @url /
 */

import {
    Footer,
    Header,
    NavigationBar,
    NavigationRail,
    ProductBlogsBodyLayout,
} from "@modules/blogs-module";
import {
    BaseGlobalStyle,
    BaseMaterialTheme,
    ImportMaterialSymbols,
    ImportRobotoStyle,
} from "@modules/shared-module";

import BaseHead from "@modules/blogs-module/core/head/base-head.astro";
import { getCollection } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import ProductRootHtmlLayout from "src/layouts/ProductRootHtmlLayout.astro";

const hero = {
    headline: "Blogs",
    description: "DESCRIPTION",
};

const socialLinks = [
    {
        label: "Github",
        url: "https://github.com/bre97-web",
        svg: `
            <svg
                class="logo"
                width="40"
                height="40"
                viewBox="0 0 24 24"
                aria-label="Github icon"
                aria-hidden="true"
            >
                <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm2.218 18.616c-.354.069-.468-.149-.468-.336v-1.921c0-.653-.229-1.079-.481-1.296 1.56-.173 3.198-.765 3.198-3.454 0-.765-.273-1.389-.721-1.879.072-.177.312-.889-.069-1.853 0 0-.587-.188-1.923.717-.561-.154-1.159-.231-1.754-.234-.595.003-1.193.08-1.753.235-1.337-.905-1.925-.717-1.925-.717-.379.964-.14 1.676-.067 1.852-.448.49-.722 1.114-.722 1.879 0 2.682 1.634 3.282 3.189 3.459-.2.175-.381.483-.444.936-.4.179-1.413.488-2.037-.582 0 0-.37-.672-1.073-.722 0 0-.683-.009-.048.426 0 0 .46.215.777 1.024 0 0 .405 1.25 2.353.826v1.303c0 .185-.113.402-.462.337-2.782-.925-4.788-3.549-4.788-6.641 0-3.867 3.135-7 7-7s7 3.133 7 7c0 3.091-2.003 5.715-4.782 6.641z"></path>
            </svg>
        `,
    },
];

const latestBlogs = (await getCollection("blog"))
    .sort(
        (x, y) =>
            new Date(y.data.creationTime).getMilliseconds() -
            new Date(x.data.creationTime).getMilliseconds(),
    )
    .slice(0, 4);
---

<ProductRootHtmlLayout>
    <BaseHead slot="head" />

    <ImportRobotoStyle slot="head-after" />
    <BaseMaterialTheme slot="head-after" />
    <BaseGlobalStyle slot="head-after" />
    <ImportMaterialSymbols slot="head-after" />

    <ViewTransitions slot="head-after" />

    <ProductBlogsBodyLayout>
        <NavigationBar slot="bottom-app-bar" />
        <NavigationRail slot="navigation-rail" />

        <div class="sticky-header">
            <Header />
        </div>

        <div class="page-content">
            <div class="hero-wrapper">
                <section class="hero-content">
                    <h1 class="hero-headline md-typescale-display-large">
                        {hero.headline}
                    </h1>
                    <p class="hero-description md-typescale-body-large">
                        {hero.description}
                    </p>
                </section>
                <div class="hero-logo hero-logo-wrapper">
                    <span class="round-outer"></span>
                    <span class="round-mask"></span>
                    <span class="round-inner"></span>
                    <h1 class="label">B</h1>
                </div>
            </div>

            <div class="the-latest-blogs">
                <h1 class="headline md-typescale-headline-medium">
                    The Latest Blogs
                </h1>

                {
                    latestBlogs.map((blog) => (
                        <a
                            class="blog"
                            href={`/feature/blogs/blog/${blog.slug}`}
                            target="_blank"
                        >
                            <h1 class="headline md-typescale-title-medium">
                                {blog.data.headline}
                            </h1>
                            <p class="description md-typescale-body-medium">
                                {blog.data.description}
                            </p>
                            <md-ripple />
                        </a>
                    ))
                }
            </div>

            <div class="hero-social-link-list">
                <h1 class="headline md-typescale-headline-medium">
                    Activities
                </h1>

                {
                    socialLinks.map((link) => (
                        <a
                            class="social-link-list-item"
                            href={link.url}
                            target="_blank"
                        >
                            <span class="icon" set:html={link.svg} />
                            <span class="label md-typescale-body-medium">
                                {link.label}
                            </span>
                            <md-icon class="alt-icon">open_in_new</md-icon>
                            <md-ripple />
                        </a>
                    ))
                }
            </div>

            <Footer />
        </div>
    </ProductBlogsBodyLayout>
</ProductRootHtmlLayout>

<style></style>

<style>
    .sticky-header {
        position: sticky;
        top: 0;
        z-index: 1;
        display: none;

        @media (max-width: 600px) {
            display: block;
        }
    }
    .page-content {
        --navigation-rail-width-computed: 84px;

        padding: 24px;
        @media (min-width: 840px) {
            padding-left: 60px;
            padding-right: 60px;
        }
        @media (min-width: 1600px) {
            max-width: calc(1600px - var(--navigation-rail-width-computed));
        }
        @media (min-width: 1600px) {
            margin: auto;
        }

        & > :not([hidden]) ~ :not([hidden]) {
            --space-y-reverse: 0;
            margin-top: calc(32px * calc(1 - var(--space-y-reverse)));
            margin-bottom: calc(32px * var(--space-y-reverse));
        }
    }
</style>

<!-- Hero & Logo -->
<style>
    .hero-wrapper {
        border-radius: 28px;
        padding: 12px;
        position: relative;
        overflow: hidden;
        z-index: 0;
        background-color: var(--md-sys-color-surface-container-lowest);
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 32px;

        @media (max-width: 840px) {
            grid-template-rows: auto 1fr auto;
            grid-template-columns: 1fr;

            & > .hero-content {
                grid-row: 2/3;
                grid-column: 1/2;
            }
            & > .hero-logo {
                grid-row: 1/2;
                grid-column: 1/2;
            }
            & > .hero-social-link-list {
                grid-row: 3/4;
                grid-column: 1/2;
                display: grid;
                grid-auto-rows: auto;
            }
        }

        @media (min-width: 840px) {
            grid-template-rows: 1fr;
            grid-template-columns: auto 1fr auto;

            & > .hero-content {
                grid-row: 1/2;
                grid-column: 2/3;
            }
            & > .hero-logo {
                grid-row: 1/2;
                grid-column: 1/2;
            }
            & > .hero-social-link-list {
                grid-row: 1/2;
                grid-column: 3/4;
                display: grid;
                grid-template-rows: repeat(3, 1fr);
            }
        }

        & > .hero-logo {
            min-height: 256px;
            place-self: center;
            position: relative;

            @media (max-width: 840px) {
                width: 100%;
            }
            @media (min-width: 840px) {
                width: 256px;
            }

            &::before {
                content: "";
                z-index: -1;
                border-radius: 16px;
                background-color: var(--md-sys-color-surface);
                @media (max-width: 420px) {
                    background-color: transparent;
                }
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
            }
        }

        & > .hero-content {
            padding: 12px;
            display: grid;
            gap: 16px;
            grid-template-rows: 1fr auto;
            grid-template-columns: 1fr;
            text-align: start;
            align-self: start;
            & > .hero-headline {
                color: var(--md-sys-color-primary);
            }
            & > .hero-description {
                color: var(--md-sys-color-primary);
            }
        }
    }
    .hero-logo {
        --size-unit: 16px;

        --outer-size: calc(var(--size-unit) * 6);
        --mask-size: calc(var(--size-unit) * 5);
        --inner-size: calc(var(--size-unit) * 4);

        position: relative;
        width: var(--outer-size);
        height: var(--outer-size);
        overflow: hidden;
        z-index: 1;
        display: flex;

        &::after,
        & > :is(.round-inner, .round-mask, .round-outer, .label) {
            transition-property: scale, opacity;
            transition-duration: 200ms;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            height: calc(var(--size-unit) * 8);
            width: calc(var(--size-unit) * 8);
            background-color: var(--md-sys-color-primary-container);
            place-self: center;
            border-radius: 9999px;
            filter: blur(32px);
            animation-name: logo-after-animation;
            animation-iteration-count: infinite;
            animation-duration: 5000ms;
            scale: 0;
        }

        & > .label {
            position: absolute;
            inset: 0;
            display: block;
            z-index: 3;
            place-self: center;
            color: var(--md-sys-color-on-primary);
            animation-name: label-animation;
            font-size: 32px;
            font-weight: 700;
        }

        & > :is(.round-inner, .round-mask, .round-outer, .label) {
            display: block;
            border-radius: 9999px;
            position: absolute;
            inset: 0;
            place-self: center;
            animation-iteration-count: infinite;
            animation-duration: 5000ms;
        }

        & > .round-inner {
            width: var(--inner-size);
            height: var(--inner-size);
            background-color: var(--md-sys-color-primary);
            z-index: 2;
            animation-name: round-inner-animation;
        }
        & > .round-mask {
            width: var(--mask-size);
            height: var(--mask-size);
            background-color: var(--md-sys-color-surface);
            z-index: 1;
            animation-name: round-mask-animation;
            scale: 0;
        }
        & > .round-outer {
            width: var(--outer-size);
            height: var(--outer-size);
            z-index: 0;
            background-color: var(--md-sys-color-primary);
            animation-name: round-outer-animation;
            scale: 0.75;
        }
    }

    @keyframes round-inner-animation {
        0% {
            scale: 0;
        }
        15% {
            scale: 0;
        }
        20% {
            scale: 1;
        }
        25% {
            scale: 1.25;
        }
        30% {
            scale: 1;
        }
        35% {
            scale: 1.25;
        }
        40% {
            scale: 1;
        }
        45% {
            scale: 1;
        }
        50% {
            scale: 1.25;
        }
        55% {
            scale: 1;
        }
        60% {
            scale: 1.25;
        }
        65% {
            scale: 1;
        }
        70% {
            scale: 1;
        }
        75% {
            scale: 0;
        }
        100% {
            scale: 0;
        }
    }
    @keyframes round-mask-animation {
        0% {
            scale: 0;
        }
        17% {
            scale: 1;
        }
        27% {
            scale: 1.05;
        }
        32% {
            scale: 1;
        }
        37% {
            scale: 1.05;
        }
        42% {
            scale: 1;
        }
        47% {
            scale: 1;
        }
        52% {
            scale: 1.05;
        }
        57% {
            scale: 1;
        }
        62% {
            scale: 1.05;
        }
        67% {
            scale: 1;
        }
        72% {
            scale: 1;
        }
        77% {
            scale: 0;
        }
        100% {
            scale: 0;
        }
    }
    @keyframes round-outer-animation {
        0% {
            scale: 0.75;
        }
        24% {
            scale: 1;
        }
        29% {
            scale: 1.1;
        }
        34% {
            scale: 1;
        }
        39% {
            scale: 1.1;
        }
        44% {
            scale: 1;
        }
        49% {
            scale: 1;
        }
        54% {
            scale: 1.1;
        }
        59% {
            scale: 1;
        }
        64% {
            scale: 1.1;
        }
        69% {
            scale: 1;
        }
        74% {
            scale: 1;
        }
        79% {
            scale: 0.75;
        }
        100% {
            scale: 0.75;
        }
    }

    @keyframes label-animation {
        0% {
            opacity: 1;
        }
        20% {
            opacity: 0;
        }
        72% {
            opacity: 0;
        }
        75% {
            opacity: 1;
        }
        99% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes logo-after-animation {
        0% {
            opacity: 0.5;
            scale: 1;
        }
        30% {
            opacity: 1;
            scale: 1;
        }
        75% {
            opacity: 1;
            scale: 1.25;
        }
        100% {
            opacity: 0.5;
            scale: 1;
        }
    }
</style>

<!-- Social Link List -->
<style>
    .hero-social-link-list {
        position: relative;
        border-radius: 28px;
        padding: 12px;
        background-color: var(--md-sys-color-surface-container-lowest);

        & > .headline {
            margin: 24px;
            color: var(--md-sys-color-on-surface);
        }

        & > .social-link-list-item {
            position: relative;
            display: grid;
            align-items: center;
            grid-template-columns: 40px 1fr 24px;
            grid-template-rows: 1fr;
            min-height: 40px;
            padding: 18px 24px;
            border-radius: 18px;
            position: relative;

            & > .label {
                color: var(--md-sys-color-on-surface);
                margin-left: 16px;
            }

            & > :is(.icon, .alt-icon) {
                place-self: center;
            }

            & > .icon {
                fill: var(--md-sys-color-on-surface);
            }

            & > .alt-icon {
                color: var(--md-sys-color-on-surface-variant);
            }

            --md-ripple-hover-color: var(--md-sys-color-primary);
            --md-ripple-pressed-color: var(--md-sys-color-primary);
        }
    }
</style>

<!-- The Latest Blogs -->
<style>
    .the-latest-blogs {
        display: grid;
        overflow: hidden;
        border-radius: 28px;
        padding: 12px;
        background-color: var(--md-sys-color-surface-container-lowest);
        gap: 16px;

        @media (max-width: 600px) {
            grid-template-rows: auto repeat(3, 1fr);
            grid-template-columns: 1fr;

            & > .headline {
                grid-row: 1/2;
                grid-column: 1/2;
            }
            & > .blog {
                grid-column: 1/2;
            }
        }

        @media (min-width: 600px) and (max-width: 840px) {
            grid-template-rows: auto 1fr;
            grid-template-columns: 1fr 1fr;

            & > .headline {
                grid-row: 1/2;
                grid-column: 1/3;
            }
            & > .blog {
            }
        }

        @media (min-width: 840px) {
            grid-template-rows: auto 1fr;
            grid-template-columns: repeat(4, 1fr);

            & > .headline {
                grid-row: 1/2;
                grid-column: 1/4;
            }
            & > .blog {
                grid-row: 2/3;
            }
        }

        & > .headline {
            margin: 24px;
            color: var(--md-sys-color-on-surface);
        }

        & > .blog {
            position: relative;
            border-radius: 16px;
            border: 1px solid var(--md-sys-color-outline-variant);
            padding: 16px;

            & > .headline {
                color: var(--md-sys-color-on-surface);
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
            }
            & > .description {
                color: var(--md-sys-color-on-surface-variant);
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                margin-top: 8px;
            }

            --md-ripple-hover-color: var(--md-sys-color-primary);
            --md-ripple-pressed-color: var(--md-sys-color-primary);
        }
    }
</style>
